@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #fefae0;
    color: #606c38;
}

.titulo-destaque {
    color: #dda15e;
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 80px 40px;
    
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Bebas Neue", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #606c38; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #606c38;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #babd8d;
}